 @keyframes bodyAnimation 
{
    0% {left: 9px; top: 9px;}
    100% {left: 1270px; top: 230px;};
}

@keyframes wingAnimation 
{
    0% {transform: rotate(230deg);}
    25% {transform: rotate(260deg);}
    50% {transform: rotate(300deg);}
    75% {transform: rotate(250deg);}
    100% {transform: rotate(230deg);}
}

header {
    font-size: 30px;
}

#middle {
    position: absolute;
    border: none;
    background: rgb(255, 242, 0);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    top: 339px;
    left: 1331px;
    z-index: 10;
}

body {
    background: rgb(176, 212, 245);
}

#bee {
    position: absolute;
    animation-name: bodyAnimation; 
    animation-duration: 2.5s;
    z-index: 900;
}

#body {
    position: absolute; 
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 60px;
    background-color: transparent;
    opacity: 1.0;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #181817, #0f0f0f 2px, #ffe600 1px, #f1e35f);
    left: 9px;
    top: 123px;
}

#wing1 {
    position: absolute; 
    border: solid 3px #b2e5ee;
    background: #b2e5ee;
    border-radius: 50%;
    transform: rotate(240deg);
    width: 70px;
    height: 30px;
    top: 115px;
    left: 10px;
    z-index: -10;
    animation: wingAnimation 0.2s linear infinite;
}

#wing2 {
    position: absolute; 
    border: solid 3px #b2e5ee;
    background: #d2f1f7;
    border-radius: 50%;
    transform: rotate(240deg);
    width: 70px;
    height: 30px;
    top: 120px;
    left: 0px;
    z-index: -10;
    animation: wingAnimation 0.2s linear infinite;
}

#eye {
    position: absolute; 
    border: none;
    border-radius: 50%;
    width: .05px;
    height: 11px;
    background-color: #0f0f0f;
    left: 72px; 
    top: 140px;
}

#petal2 {
    transform: rotate(45deg); 
    top: 320px;
    left: 1200px;
}

#petal3 {
    transform: rotate(270deg); 
    top: 320px;
    left: 1200px;
}

#petal4 {
    transform: rotate(-225deg); 
    top: 320px;
    left: 1200px;
}

#petal5 {
    transform: rotate(180deg); 
    top: 320px;
    left: 1200px;
}

#petal6 {
    transform: rotate(45deg); 
    top: 340px;
    left: 1265px;;
}

#petal7 {
    transform: rotate(270deg); 
    top: 340px;
    left: 1265px;
}

#petal8 {
    transform: rotate(-225deg); 
    top: 340px;
    left: 1265px;
}

#petal9 {
    transform: rotate(180deg); 
    top: 340px;
    left: 1265px;
}

#leaf {
    position: absolute;
    border: none;
    background:rgb(172, 214, 44);
    border-radius: 12px;
    width: 30px;
    height: 15px; 
    top: 560px;
    left: 1355px;
    z-index: -10;
}

#stem {
    position: absolute; 
    border: none;
    background:rgb(172, 214, 44);
    width: 15px; 
    height: 280px;
    top: 380px;
    left: 1350px;
    z-index: -5;
}

.petal{
    position: absolute; 
    border: solid 2px;
    border-color: transparent rgb(243, 213, 223) transparent rgb(243, 213, 223);
    background: rgb(255, 174, 201);
    border-radius: 50%;
    width: 320px;
    height: 90px;
}

.middlePetal {
    position: absolute; 
    border: none;
    background: rgb(243, 213, 223);
    border-radius: 50%;
    width: 190px;
    height: 50px;
    z-index: 5;
}
 
#flower {
    width: 500px;
    height: 500px; 
}

.alphabet {
    border: solid 1px transparent; 
    width: 900px;
    height: 300px;
    position: absolute;
    top: 600px;
    left: 100px;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 33%;
    border: solid 1px transparent;
}

.keyboardButton {
    width: 85px;
    height: 90px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.word {
    border: solid 1px;
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 300px;
    border: transparent;
    left: 50px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.letter {
    width: 90px;
    height: 85px;
    border: solid 3px;
    border-color: transparent transparent black transparent;
    background: transparent;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}

.popupForm {
    box-sizing: border-box;
    display: none;
    z-index: 200;
}

#popup {
    background-color: #ffffff;
    width: 800px;
    height: 600px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.resetButton {
    top: 200px;
    width: 130px;
    height: 70px;
    background-color: rgb(243, 213, 223);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#correctWord {
    font-size: 50px; 
    font-weight: bold; 
    margin: 20%;
}
/* #newGame {
    text-decoration: none;
} */